*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: orange;
}

html {
  line-height: 1.5;
  font-size: 20px;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: normal;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1 {
  font-size: 1em;
}

h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

header nav {
  display: flex;
  justify-content: center;
  margin-right: 64px;
  gap: 40px;
}

.header-divider {
  background-color: #c42828;
  background-image: url(images/checkerboard.png);
  width: 100%;
  height: 48px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header {
  position: relative;
  height: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff0000;
}

header img {
  margin-left: 64px;
}

.hero-img {
  margin: none;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hero-img a {
  color: white;
}

.hero-img span {
  grid-column: 3 / 4;
  justify-self: end;
  align-self: end;
}

button {
  min-width: min-content;
  background: none;
  border: none;
  height: 128px;
  padding: .5rem 16px 0px;
  font-family: inherit;
  font-weight: 900;
  font-size: 2em;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: white;
  background-position: center;
  color: black;
}

.card-container {
  display: flex;
  justify-content: center;
}


.card {
  box-shadow: inset 0px 50px 0px 10px #ff0000, inset 0px -5px 0px 10px #ff0000, rgba(0, 0, 0, 0.24) 0px 3px 8px;
  ;
  color: black;
  background-color: #ffffff;
  font-size: 1.2rem;
  padding: 6px 24px 24px 24px;
  margin: 30px;
  border-radius: 25px;
  max-width: 600px;
  height: max-content;
}

.card h2 {
  color: white;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 12px;
}